body, input, textarea, button, a {
    font-family: 'Signika', sans-serif;
}

.navbar {
    font-family: 'Sanchez', serif;
}

.invoice-table {
    font-family: 'Courier New', Courier, monospace;
}

.invoice-table td,
.invoice-table th{
    padding: 10px 10px;
}
/* .invoice-container {
    position: fixed;
    right: 10px;
    z-index: 999;
    top: 80px;
    max-width: 600px;
} */
.invoice-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
}
.bill-row span{
    min-width: 70px;
    display: inline-block;
    outline: none;
    padding: 1px 4px;
}
.bill-row span:focus{
    box-shadow: 0px 0px 0px 2px #000000db;
    border-radius: 3px;;
    outline: none;
}   


.left-pan{
    /* display: none; */
}



table th {
    font-weight: bold;
}

@page {
    margin: 20mm;
}

@media print {

    .no-print, .invoice-btn-list{
        display: none;
    }
    .print-no-mt{
        margin-top: 0px !important;
    }
    .invoice{
        display: table;
        width: 700px;
        margin: auto;
        position: relative;
        background-color: #fff;

    }
    body, input, textarea, button, a {
        font-family: 'Signika', sans-serif;
    }
    .navbar {
        font-family: 'Sanchez', serif;
    }
    .invoice-table {
        font-family: 'Courier New', Courier, monospace;
    }
}